/* Coolors Exported Palette - coolors.co/3b56b9-828ad2-3cb3fc-f1e900-ffffff */

/* RGB */
$darkblue: rgb(20, 109, 177)
$greyblue: rgba(130, 138, 210, 1)
$lightblue: rgba(60, 179, 252, 1)
$yellow: rgb(252, 212, 1)
$white: rgba(255, 255, 255, 1)
