#customize-theme-controls .accordion-section-title {
  background: #333;
  color: white;
}
input {
  display: inline-block;
  background-color: transparent;
}
.cs-range-value {
  display: inline-block;
}
.slider{
  position: relative;
  width: 100%;
}
.cs-range-value {
  display: inline-block;
  margin: 0;
  width: 4ch;
  margin-right: 20px;
  top: 50%;
  transform: translateY(-50%);
}


/*custom range start*/

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 75%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 25px;
  width: 11px;
  border-radius: 3px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 25px;
  width: 11px;
  border-radius: 3px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 25px;
  width: 11px;
  border-radius: 3px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}


/*start checkbox code*/

.customize-control-checkbox label{
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 28px;
}

.onoffswitch_label{
	display: inline-block;
    vertical-align: top;
    margin-top: -1px;
    width: 200px;
}

.onoffswitch {
	position: relative;
	width: 40px;
	display: inline-block;
	float: right;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none!important;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 18px;
	padding: 0;
	line-height: 18px;
	border: 2px solid #9E9E9E;
	border-radius: 18px;
	background-color: #9E9E9E;
	transition: background-color 0.2s ease-in;
}

.onoffswitch-label:before {
	content: "";
	display: block;
	width: 18px;
	margin: 0;
	background: #EBEBEB;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	border: 2px solid #9E9E9E;
	border-radius: 18px;
	transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: #42A5F5;
}

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: #42A5F5;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0;
}
