// @import "slideHero"
// @import "slideGallery"
// @import "slideContact"
// @import "slideActs"

@import "slide-100"
@import "slide-5050"
@import "posts"
@import "image-100"

.slide
  position: relative
  padding-top: 100px
  // margin: 20px
  // min-height: 50vh

  &:first-of-type
    padding-top: 0

  &:last-of-type
    // padding-bottom: 100px
    margin-bottom: 100px

.menu-placeholder
  height: 60px

//theme options
.background
  background:
    color: red
  display: inline-block

.posts-background
  background:
    color: red
  display: inline-block

.center
  text-align: center

.left
  text-align: left

.right
  text-align: right

.justify
  text-align: justify



.widget
  margin: 10px

a
  color: purple

  &:hover
    color: black

li
  font-size: 30px
