@import "slide01"
@import "slide02"

.slide
  position: relative
  min-height: 50vh

.container-simple
  display: inline-block
  // transform: rotate(15.5deg)
  width: 100%

  .widget
    // transform: rotate(-15.5deg)
