#slide-acts

  .widget-title

  .widget_custom_post_widget
    background:
      color: $darkblue
    padding: 10px
    margin-bottom: 40px

    &:after
      content: ""
      display: table
      clear: both

    .widget-title
      margin-bottom: 20px

    p
      float: left
      width: 50%
      padding: 20px
      padding-top: 0
      text-align: justify



    .img-holder
      margin-top: 1.5rem
      padding: 40px
      width: 50%
      display: inline-block
      text-align: center

      .img-frame
        background:
          color: $yellow
        transform: rotate(10deg)
        padding: 20px
        display: inline-block

        img
          float: left
          height: 100%
          width: 100%

    @media screen and (max-width: 900px)
      p
        width: 100%

      .img-holder
        width: 80%
        left: 10%
        position: relative

    @media screen and (max-width: 600px)
      .img-holder
        left: 0
        width: 100%
  .tab
    text-align: center

    button
      padding: 2px 6px 3px
      border-width: 0px
      border-color: buttonface
      border-image: initial
      img
        height: 300px
        max-width: 200px
        margin: 10px 50px 10px 50px

    .tablinks
      &.active
        background:
          color: $white

  .tabcontent
    display: none
