.badge-holder
  height: 70vh

  .badge
    height: 600px
    transform: rotate(15.5deg)
    position: relative
    z-index: -1
    display: inline-block
    margin: 40px
    margin-top: -20vh
    padding: 40px
    padding-top: 20vh


    img
      height: 100%
