#slide-1
  margin-top: 60px

  // .mini-titel
  //   text-align: center
  //   margin: 5px 5px 10px

  .banner
    width: 100%

  .badge
    position: absolute
    display: inline-block
    margin-top: -400px
    min-height: 100px
    width: 50%
    z-index: -1


    img
      height: 100%
      width: 100%

  .badge-placeholder
    height: 100%

  .widget-start
    display: inline-block
    float: right
    width: 45%
    text-align: justify
    margin-left: -50px
    margin-right: 50px
    margin-top: 40px
