#slide-contact
  margin-bottom: 100px

  .contact-back
    background:
      color: $darkblue
    border-radius: $border-radius
    display: inline-block
    width: 100%
    padding: 20px

  .contact-widget
    width: 50%
    display: inline-block
    float: left


  @media screen and (max-width: 800px)
    .contact-left
      width: 100%
      padding-bottom: 20px

    .contact-right
      width: 100%


.contact-right
  color: black
  .gm-style .gm-style-iw
    span
      color: black !important
    p
      color: black !important
