#slide-contact
  margin-bottom: 100px

  .contact-back
    background:
      color: $darkblue
    display: inline-block
    width: 100%
    padding: 20px

  .contact-widget
    width: 50%
    display: inline-block
    float: left


  .contact-left

.contact-right
  color: black
  .gm-style .gm-style-iw
    span
      color: black !important
    p
      color: black !important
