footer
  background:
    color: #272727
  padding: 20px
  padding-bottom: 0



  .site-info
    text-align: center
    a
      color: white

      &:hover
        color: $yellow

  .sponsorLogo
    display: inline-block
    padding: 5px
    padding-bottom: 20px

    img
      max-height: 80px
      width: auto
      max-width: 20%

      &:hover
        transform: scale(0.95)
        transition: .2s both ease-in
        cursor: pointer
