.site-header
  position: fixed
  display: inline-block
  z-index: 99
  width: 100%
  left: 0
  text-align: center
  top: 0
  background:
    color: $darkblue

  .menu-item
    float: left
    display: inline-block
    padding: 10px

  ul
    margin: 0
    padding: 0
    max-width: 1080px
    margin: 0 auto
