nav
  position: fixed
  z-index: 99
  width: 100%
  left: 0
  text-align: center
  top: 0
  background:
    color: $darkblue

  div
    display: inline-block
    padding: 10px 20px 10px
    cursor: pointer

    h3
      margin: 0
      padding: 0

    &:hover
      h3
        color: $yellow

    h3
      color: $white

#masthead


#masthead-mobile
  display: none

.faceboot-logo
  height: 1.3rem
  padding: 0
  padding-left: 15px
  display: inline-block
  position: relative
  top: -8px

  a
    margin: 0

    img
      height: 100%

@media screen and (max-width: 610px)
  #masthead
    display: none

  #masthead-mobile
    display: block
    width: 100%

    &.closed
      div
        display: none

      .hamburger
        display: inline-block

        .cross
          // display: none


    div
      width: 100%

      h3
        margin: 0
        margin: 10px

    .hamburger
      padding: 20px
      float: right
      display: inline-block
      width: auto
      margin-right: 30px

      svg
        cursor: pointer

        .cross
          transform-origin: 50% 50%
          display: none

        .cross-bottom
          transform: rotate(45deg)

        .cross-top
          transform: rotate(-45deg)
